@import url(./global.css); /*Importando o CSS global para o styles*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--color-neutral-silver);
}

.logo-header img {
    width: 154px;
    height: 24px;
}

.nav-header ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-header ul li a{
    color: var(--color-neutral-black);
    font-weight: var(--font-headline-2-size);
    transition: 0.3s;
}

.nav-header ul li a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.container-btn-header button {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.container-btn-header .btn-login{
    background-color: var(--color-neutral-silver);
}

.container-btn-header .btn-login a{
    color: var(--color-primary);
}
.container-btn-header .btn-sign-up{
     background-color: var(--color-primary);
}
.container-btn-header .btn-sign-up a{
     color: var(--color-neutral-white);
}
/* FIM DO HEADER */

/* MAIN */
main{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:104px;
    padding: 96px 0;
    background-color: var(--color-neutral-silver);
}
.content-hero{
    display:flex;
    flex-direction:column;
    gap:16px;
    width: 657px;
    
}
.content-hero h1{
    font-size:var(--font-headline-1-size);
}
.content-hero span{
    color: var(--color-primary);
}
.imagem{
    display:flex;
    justify-content:flex-end;
  
}
 /* FIM DO MAIN */ 

  /* OUR CLIENTS */ 
  .our-clients{
    display:flex;
    flex-direction:column;
    gap:16px;
    text-align: center;
    margin: 40px 0px;
  }

  .container-our-clients{
    display:flex;
    flex-direction:column;
    gap:8px;
  }

  .container-logo-clients{
    display: flex;
    gap: 136px;
    padding: 25px 0px;
    justify-container:center;
  }
   /* FIM DO OUR CLIENTS */ 